@import url(http://fonts.googleapis.com/css?family=Lato:100);
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

html, body {
  height: 100%;
  overflow: hidden; }

body {
  font-family: HelveticaNeue-Medium, 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #CCC;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: background-image 1s ease-in-out;
          transition: background-image 1s ease-in-out; }

canvas {
  display: none; }

input {
  padding: 10px 20px;
  border: 0;
  border-bottom: 2px solid #FFF;
  outline: none;
  background: none;
  color: #FFF; }

.top {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: block;
  width: 100%; }

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  display: block;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%; }

.bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%; }
  .bottom .menu {
    position: relative;
    top: 10px;
    padding-left: 10px; }

.widget {
  display: none; }
  .widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget h6 {
    font-weight: lighter;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
    color: #FFF;
    -webkit-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out; }

.black .widget h1, .black .widget h2, .black .widget h3, .black .widget h4, .black .widget h5, .black .widget h5 {
  color: #000; }

.clock {
  display: inline-block;
  position: relative; }
  .clock h1 {
    display: inline-block;
    font-size: 180px;
    letter-spacing: -5px; }
    .clock h1.flashing {
      -webkit-animation: blink 1s steps(5, start) infinite;
              animation: blink 1s steps(5, start) infinite; }

.light .clock h1 {
  font-family: 'Lato', sans-serif; }

@-webkit-keyframes blink{
  to{
    visibility: hidden; } }

@keyframes blink {
  to {
    visibility: hidden; } }
.date h2 {
  font: 40px HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -1px; }

.light .date h2 {
  font: 100 40px 'Lato', sans-serif; }

.search {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  text-align: center; }
  .search input {
    width: 25%;
    font-size: 28px;
    -webkit-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out; }

.black .search input {
  border-color: #000;
  color: #000; }

.error {
  font-size: 12px;
  color: #FF0000; }

.menu {
  position: relative;
  left: -200px;
  padding: 10px 10px 0 20px;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
  .menu.active {
    left: 0; }

.icon {
  padding: 10px 5px; }
  .icon#btn-about svg {
    width: 28px;
    height: 28px; }
  .icon svg {
    width: 24px;
    height: 24px;
    -webkit-filter: drop-shadow(-2px -2px 7px #000);
            filter: drop-shadow(-2px -2px 7px #000); }
  .icon svg * {
    -webkit-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out; }

.black .icon svg * {
  stroke: #000; }

#btn-refresh svg {
  margin: -12px 0 0 -12px; }
#btn-refresh.rotating svg {
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite; }

@-webkit-keyframes spin{
  100%{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
#btn-customwallpaper {
  display: none; }

#btn-countdowntimer {
  display: none;
  padding-left: 12px; }
  #btn-countdowntimer svg {
    margin: -12px 0 0 -12px; }
  #btn-countdowntimer.rotating svg {
    -webkit-animation: rotateGlass 4s infinite ease-in-out;
            animation: rotateGlass 4s infinite ease-in-out; }

@-webkit-keyframes rotateGlass{
  40%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50%{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  90%{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes rotateGlass {
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  90% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }
#countdown input {
  padding: 10px;
  width: 50px; }

#countdown-stop {
  display: none;
  position: absolute;
  right: -70px;
  top: 41%; }
  #countdown-stop.active {
    display: block; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

#btn-about {
  position: relative;
  top: 2px; }

.popout {
  position: absolute;
  left: -500px;
  z-index: 1;
  display: inline-block;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #FFF;
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
  .popout a {
    font-family: Arial, sans-serif;
    color: #FFF;
    color: #FFF; }
  .popout.active {
    left: 0; }

#addons {
  top: 70px; }
  #addons a {
    display: block;
    padding: 5px 0;
    text-decoration: none; }
    #addons a span {
      display: inline-block;
      min-width: 150px; }
    #addons a img {
      position: relative;
      top: -2px;
      vertical-align: middle; }

#customwallpaper {
  top: 85px; }

#countdown {
  bottom: 100px; }

#about {
  bottom: 70px; }
  #about p {
    padding: 5px 0;
    font-size: 14px; }
